header {
	background-color: rgb(49, 115, 168);
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
	font-family: 'Indie Flower', cursive;
}
footer {
    background-color: rgb(49, 115, 168);
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
	font-family: 'Indie Flower', cursive;
}
nav {
	text-align: center;
    background-color: #36454f;
	box-shadow: 0 2px 15px gray;
	font-family: 'Dancing Script', cursive;
}
.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.navigation li:first-child {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: rgb(175, 192, 24);
	font-weight: 700;
}
.navigation a:hover {
	color: white;
	background-color: rgb(9, 160, 60);
}

.card-container {
    -webkit-perspective: 500px;
            perspective: 500px;
}

.card-container:hover .card{
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.card {
    -webkit-transition: -webkit-transform 0.7s;
            transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front, .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

/*Custom Styles*/
.cards-container{	
   display: -webkit-flex;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: row;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 200px;
	height: 200px;
  margin: 10px;
}

.front, .back {
  box-shadow: 0 1px 6px 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

img {
  display: block;
}
.forecast-container, .article-container, .contact-container {
	margin : 20px;
	background-color : rgb(49, 115, 168);
	border : #230903 solid 2px;
	}
	.forecast-table {
		display : flex;
		flex-flow : row wrap;
		border-right : 1px solid #230903;
		}
		.forecast-table {
			display : flex;
			flex-flow : row wrap;
			border-right : 1px solid #230903;
			}
			.forecast-head {
			display : block;
			padding : 5px;
			border-bottom : 1px solid #230903;
			text-align : center;
			font-size : 1rem;
			background-color : #230903;
			color : whitesmoke;
			}
			.forecast-col {
			flex : 1 1 auto;
			background-color : gray;
			border-bottom : 1px solid #230903;
			border-left : 1px solid #230903;
			text-align : center;
			}
			.forecast-col:hover {
			opacity : 0.9;
			background-color : #0074a26b;
			color : whitesmoke;
			}
			.forecast-title {
			text-align : center;
			}
			.hero-container {
				position : relative;
				margin : 10px auto;
				
				}
				
.hero-container {
padding:2px; 
		display:grid; 
		grid-gap: 2px;
		grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}		


div.cards {
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : space-evenly;
    border-radius: 5px;
    }
    section {
    display : block;
    margin : 3px;
    background-color :#0074a26b;
    text-align : center;
    border-radius: 15px;
    }
    img {
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 5px;
    max-width : 350px;
    box-shadow : 2px 2px 10px #cd5c5c;
    }
    .cards:hover {box-shadow: 0 0 20px #333;}
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    .active {
        color: yellow;
	}
	.weathersum {
		display: flex;
	}
}