
  
  header {
    background: green;
    border-radius: 20px 20px 0px 0px;
    font-size: 1.5em;
    color: white;
  }
  
  h1,
  form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border-radius: 15px;
  }  
  
  
  form button {
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 15px;
  }
  
  form button:hover {
    color: gray;
  }
  
  form input {
    padding: .5em;
    font-size: 1em;
    border: none;
    background: white;
    border-radius: 15px;
  }
  
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
  .list {
    min-width: 50%;
    list-style: none;
  }
  .container {
    background-color: rgb(211, 206, 199);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  .todo {
    margin: 0.5rem;
    background: whitesmoke;
    font-size: 5em;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  
  .filter {
    padding: 1rem;
  }
  
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: red;
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 15px;
  }
  
  .complete-btn {
    background: green;
  }
  
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-check-circle,
  .fa-times-circle {
    pointer-events: none;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  .input::placeholder {
    color: black;
    opacity: .5;
  }
  